.menu-container {
  width: 100%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
  width: 100%;
  border-bottom: 1px solid white;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: rgb(1, 14, 56);
}

.menu li a.active {
  float: right;
}

.active {
  background-color: #4CAF50;
}

.categories-container {
  width: 100%;
  padding: 10px;
}