.login-wrapper {
    width: 370px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 2px solid;
    border-radius: 20px;
    vertical-align: top;
    transform: translateY(25%);
}

.submit-button {
    margin: 10px 0;
    padding: 5px 20px;
    width: 100%;
    font-weight: bolder;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background-color: blue;
    border-color: blue;
    border-radius: 3px;
}

.input-field {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}

.login-title {
    margin: 0 0 40px 0;
}

.login-label {
    margin: 5px 0;;
}

.signup-link {
    
}

.login-note {
    display: block;
    position: absolute;
    font-weight: bold;
    bottom: 30px;
    align-items: center;
    right: 50px;
    line-height: normal;
}